@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@layer base {
  :root {
    --radius: 0.75rem;
    --background: theme(colors.neutral.100);
    --foreground: theme(colors.neutral.200);
    --primary: theme(colors.blue.600);
    --success: theme(colors.green.600);
    --danger: theme(colors.red.600);
    --warning: theme(colors.yellow.600);
    --secundary: theme(colors.neutral.900);
    --text: theme(colors.neutral.950);
    --text-alt: theme(colors.neutral.100);
    --border: theme(colors.neutral.300);
  }

  .dark {
    --background: theme(colors.neutral.950);
    --foreground: theme(colors.neutral.800);
    --secundary: theme(colors.neutral.100);
    --text: theme(colors.neutral.100);
    --text-alt: theme(colors.neutral.950);
    --border: theme(colors.neutral.700);
  }

  .primary {
    @apply text-neutral-100 bg-blue-600;
  }

  .success {
    @apply text-neutral-100 bg-green-600;
  }

  .danger {
    @apply text-neutral-100 bg-red-600;
  }

  .warning {
    @apply text-neutral-100 bg-yellow-600;
  }

  .outline {
    @apply text-neutral-950 dark:text-neutral-100 border border-neutral-300 dark:border-neutral-700;
  }

  .actionDefault {
    @apply bg-neutral-800 hover:bg-neutral-900 active:bg-neutral-950 text-neutral-100 dark:bg-neutral-200 dark:hover:bg-neutral-300 dark:active:bg-neutral-400 dark:text-neutral-950;
  }

  .actionPrimary {
    @apply text-neutral-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-800 select-none;
  }

  .actionSuccess {
    @apply text-neutral-100 bg-green-600 hover:bg-green-700 active:bg-green-800 select-none;
  }

  .actionDanger {
    @apply text-neutral-100 bg-red-600 hover:bg-red-700 active:bg-red-800 select-none;
  }

  .actionWarning {
    @apply text-neutral-100 bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800 select-none;
  }

  .actionOutline {
    @apply text-neutral-950 dark:text-neutral-100 hover:bg-neutral-200 dark:hover:bg-neutral-800 border border-neutral-300 dark:border-neutral-700 select-none;
  }

  html {
    @apply bg-background selection:bg-[var(--primary)] selection:text-neutral-200;
  }

  input {
    @apply appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }

  h1 {
    @apply mb-4 text-4xl font-black text-neutral-950 dark:text-neutral-100;
  }

  h2 {
    @apply mb-3 text-3xl font-bold text-neutral-900 dark:text-neutral-200;
  }

  h3 {
    @apply mb-2 text-2xl font-semibold text-neutral-800 dark:text-neutral-300;
  }

  h4 {
    @apply text-xl font-semibold text-neutral-700 dark:text-neutral-400;
  }

  h5 {
    @apply text-lg font-semibold text-neutral-600 dark:text-neutral-500;
  }

  h6 {
    @apply text-base font-semibold text-neutral-600 dark:text-neutral-500;
  }

  p {
    @apply mb-4 text-base text-neutral-700 dark:text-neutral-300;
  }

  summary {
    @apply text-neutral-800 dark:text-neutral-200;
  }
}
