@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@layer base {
  :root {
    --radius: 0.75rem;
    --background: theme(colors.neutral.100);
    --foreground: theme(colors.neutral.200);
    --primary: theme(colors.blue.600);
    --secundary: theme(colors.neutral.900);
    --text: theme(colors.neutral.950);
    --text-alt: theme(colors.neutral.100);
    --border: theme(colors.neutral.300);
  }

  .dark {
    --background: theme(colors.neutral.950);
    --foreground: theme(colors.neutral.800);
    --secundary: theme(colors.neutral.100);
    --text: theme(colors.neutral.100);
    --text-alt: theme(colors.neutral.950);
    --border: theme(colors.neutral.700);
  }

  html {
    @apply bg-background selection:bg-[var(--primary)] selection:text-neutral-200;
  }

  input {
    @apply appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }

  h1 {
    @apply mb-4 text-4xl font-black text-neutral-950 dark:text-neutral-100;
  }

  h2 {
    @apply mb-3 text-3xl font-bold text-neutral-900 dark:text-neutral-200;
  }

  h3 {
    @apply mb-2 text-2xl font-semibold text-neutral-800 dark:text-neutral-300;
  }

  h4 {
    @apply text-xl font-semibold text-neutral-700 dark:text-neutral-400;
  }

  h5 {
    @apply text-lg font-semibold text-neutral-600 dark:text-neutral-500;
  }

  h6 {
    @apply text-base font-semibold text-neutral-600 dark:text-neutral-500;
  }

  p {
    @apply mb-4 text-base text-neutral-700 dark:text-neutral-300;
  }

  summary {
    @apply text-neutral-800 dark:text-neutral-200;
  }
}
