@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@layer base {
  html {
    @apply bg-neutral-200 dark:bg-neutral-800 selection:bg-blue-600 selection:text-neutral-100;
  }

  input {
    @apply appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }

  h1 {
    @apply mb-4 text-4xl font-black text-neutral-950 dark:text-neutral-100;
  }

  h2 {
    @apply mb-3 text-3xl font-bold text-neutral-900 dark:text-neutral-200;
  }

  h3 {
    @apply mb-2 text-2xl font-semibold text-neutral-800 dark:text-neutral-300;
  }

  h4 {
    @apply text-xl font-semibold text-neutral-700 dark:text-neutral-400;
  }

  h5 {
    @apply text-lg font-semibold text-neutral-600 dark:text-neutral-500;
  }

  h6 {
    @apply text-base font-semibold text-neutral-600 dark:text-neutral-500;
  }

  p {
    @apply mb-4 text-base text-neutral-800 dark:text-neutral-200;
  }

  a {
    @apply hover:underline font-semibold text-blue-600 hover:text-blue-800 active:text-blue-700;
  }

  summary {
    @apply text-neutral-800 dark:text-neutral-200;
  }
}
